body {
    font-family: 'Rubik', sans-serif;
}
​
/*--------------------------------------------------------------------------------------------------------------------Navbar--*/

.navbar {
    z-index: 1;
}

.nav-heading {
    margin-top: .7rem;
}

.nav-heading a {
    color: white;
    font-weight: 600;
}

.nav-item a {
    color: white;
}

.dropdown-menu a {
    color: #009170;
}

.navbar-toggler {
    margin-bottom: 0.313rem;
}

.navbar-toggler-icon {
    border: 1px solid white;
    background-color: white;
    border-radius: 50px;
}

/*--------------------------------------------------------------------------------------------------------------------Navbar/Quiz Special--*/

.nav-heading-special a {
    color: #FFCC00;
    font-weight: 600;
}

.nav-special a {
    color: #FFCC00;
}

.dropdown-special a {
    color: #003399;
}

.toggler-special {
    border: 1px solid #FFCC00;
    background-color: #FFCC00;
    border-radius: 50px;
}

.badge-quiz {
    background-color: #003399;
    color: #FFCC00;
}

/*--------------------------------------------------------------------------------------------------------------------Footer--*/

.container-wrapper-footer {
    background-color: #009170;
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: .625rem;
}    

.footer-header {
    margin-bottom: 2.5rem;
    margin-top: 1.25rem;
}

.footer {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

.info-footer {
    margin-left: 5rem;
    margin-right: 5rem;
}

.info-footer a {
    color: white;
}

.social-footer a {
    font-size: 1.8rem;
    color: white;
    padding-left: .625rem;
    padding-right: .625rem;
}

.footer-container h2 {
    color: white;
}

.footer-container hr {
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: auto;
    max-width: 60%;
    height: auto;
}

.footer-container p {
    color: white;
    font-size: .55rem;
    margin-bottom: 1.25rem;
}

/*--------------------------------------------------------------------------------------------------------------------Navbar/Quiz Special--*/

.footer-special {
    background-color: #003399;
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: .625rem;
}   

.info-footer-special {
    margin-left: 5rem;
    margin-right: 5rem;
}

.info-footer-special a {
    color: #FFCC00;
}

.social-footer-special a {
    font-size: 1.8rem;
    color: #FFCC00;
    padding-left: .625rem;
    padding-right: .625rem;
}

.footer-special h2 {
    color: #FFCC00;
}

.footer-special hr {
    background-color: #FFCC00;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: auto;
    max-width: 60%;
    height: auto;
}

.footer-special p {
    color: #FFCC00;
    font-size: .55rem;
    margin-bottom: 1.25rem;
}


/*--------------------------------------------------------------------------------------------------------------------Home - Features--*/

.container-wrapper-quizzes {
    padding: .625rem 1.25rem;
}

.jumbotron-main {
    background-color: #e2ffe2;
    margin-top: 1.9rem;
    margin-bottom: 1.5rem;
    margin-left: .625rem;
    margin-right: .625rem;
    padding: 1rem;
    color: darkslategray;
}

.main-header-home {
    margin-top: .65rem;
}

.quiz-scroll {
    margin-top: 2.1rem;
}

.btn-info a {
    color: white;
}

.golf-image img {
    width: auto;
    max-width: 100%;
    height: auto;
    border-radius: .25rem;
    margin-top: 1.25rem;
}

.golf-info {
    margin-top: 1.875rem;
}

.quizzes-header {
    margin-bottom: 1rem;
}

.golf-info p {
    margin-bottom: 1.6rem;
}

/*--------------------------------------------------------------------------------------------------------------------Quiz Page--*/

.bk-container {
    height: 88vh;
    background: url(../images/tiger-woods-masters-3.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:flex;    
    align-items:flex-end;
    justify-content: center;
    position: relative;
    margin-top: -0.313rem;
}

.jumbotron-host {
    background-color: #e2ffe2;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 1rem;
    color: darkslategray;
}

.main-header-quiz {
    margin-top: .65rem;
}

/*--------------------------------------------------------------------------------------------------------------------Quiz Special Page--*/

.bk-container-special {
    height: 100vh;
    background: url(../images/mcd2.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:flex;    
    align-items:flex-end;
    justify-content: center;
    position: relative;
    margin-top: -0.313rem;
}

.jumbotron-host-special {
    background-color: aliceblue;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 1rem;
    color: darkslategray;
}

.main-header-quiz-special {
    margin-top: .65rem;
}
/*--------------------------------------------------------------------------------------------------------------------CONTACT - Main Header--*/

.bk-contact-container {
    height: 180vh;
    background-color: white;
}

.jumbotron-contact {
    background-color: #e2ffe2;
    margin-bottom: 1.5rem;
    margin-left: .625rem;
    margin-right: .625rem;
    padding: 1rem;
}

.contact-text {
    padding-top: 3.125rem;
    margin-bottom: 0;
    font-weight: 500;
    color: #009170;
}

.contact-paragraph {
    color: #009170;
    margin-bottom: 0;
    padding-top: 1.25rem;
    padding-right: .625rem;
    padding-left: .625rem;
}

/*--------------------------------------------------------------------------------------------------------------------Contact Form--*/

form { 
    max-width: 26.25rem;
    margin: auto;
    padding-top: 3.125rem;
    position: relative;
    margin-bottom: 0;
}

.feedback-input {
  color: #009170;
  font-weight: 500;
  font-size: 1.125rem;
  border-radius: .313rem;
  line-height: 2.3rem;
  background-color: transparent;
  border: .125rem solid #009170;
  padding: 0;
  margin-bottom: .938rem;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus { 
    border: .125rem solid #009170;
 }

textarea {
  height: 9.375rem;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background:#009170;
  border-radius: .313rem;
  border: 0;
  cursor: pointer;
  color:white;
  font-size: 1.5rem;
  padding-top: .625rem;
  padding-bottom: .625rem;
  transition: all 0.3s;
  margin-top: -0.25rem;
  font-weight: 700;
}
[type="submit"]:hover {
    background:#015844;
}

/*--------------------------------------------------------------------------------------------------------------------Quiz questions--*/

.jumbotron-quiz {
    background-color: #e2ffe2;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 1rem;
}

.quiz-heading {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

/*--------------------------------------------------------------------------------------------------------------------Quiz questions special--*/

.jumbotron-quiz-special {
    background-color: aliceblue;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 1rem;
}

.quiz-heading-special {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}