body {
    font-family: 'Enriqueta', sans-serif;
}
​
/*--------------------------------------------------------------------------------------------------------------------Navbar--*/

.navbar {
    z-index: 1;
}

.nav-heading a {
    color: white;
    font-weight: 400;
}

.nav-item a {
    color: white;
}

.dropdown-menu a {
    color: #009170;
}

/*--------------------------------------------------------------------------------------------------------------------Footer--*/

.container-wrapper-footer {
    background-color: #009170;
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: .625rem;
}    

.info-footer a {
    color: white;
}

.social-footer a {
    font-size: 1.8rem;
    color: white;
    padding-left: .625rem;
    padding-right: .625rem;
}

.footer-container h6 {
    color: white;
}

.footer-container p {
    color: white;
    font-size: .55rem;
    margin-bottom: 0;
}

/*--------------------------------------------------------------------------------------------------------------------Home - Features--*/

.container-wrapper-quizzes {
    background-color: #f8dcac;
    padding: .625rem 1.25rem;
}


/*--------------------------------------------------------------------------------------------------------------------CONTACT - Main Header--*/

.bk-contact-container {
    height: 110vh;
    background-color: floralwhite;
}

.contact-text {
    padding-top: 3.125rem;
    margin-bottom: 0;
    font-weight: 500;
    color: #343254;
}

.contact-paragraph {
    color: #343254;
    margin-bottom: 0;
    padding-top: 1.25rem;
    padding-right: .625rem;
    padding-left: .625rem;
}

/*--------------------------------------------------------------------------------------------------------------------Contact Form--*/

form { 
    max-width: 26.25rem;
    margin: auto;
    padding-top: 3.125rem;
    position: relative;
    margin-bottom: 0;
}

.feedback-input {
  color: #343254;
  font-weight: 500;
  font-size: 1.125rem;
  border-radius: .313rem;
  line-height: 2.3rem;
  background-color: transparent;
  border: 2px solid #343254;
  padding: 0;
  margin-bottom: .938rem;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus { 
    border: 2px solid #343254;
 }

textarea {
  height: 9.375rem;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background:#343254;
  border-radius: .313rem;
  border: 0;
  cursor: pointer;
  color:floralwhite;
  font-size: 1.5rem;
  padding-top: .625rem;
  padding-bottom: .625rem;
  transition: all 0.3s;
  margin-top: -0.25rem;
  font-weight: 700;
}
[type="submit"]:hover {
    background:#45436d;
}


/*-- h1 {
    text-align: center;
}
​
#title {
    text-decoration: underline;
}
​
#quiz {
    text-indent: 10px;
    display:none;
}
​
.button {
    border:4px solid;
    border-radius:5px;
    width: 40px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #DCDCDC;
    color: black;
    margin: 0 2px 0 2px;
}
​
.button.active {
    background-color: #F8F8FF;
    color: #525252;
}
​
button {
    position: relative;
    float:right;
}
​
.button a {
    text-decoration: none;
    color: black;
}
​
#container {
    width:50%;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #1E90FF;
    border:4px solid #B0E0E6;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
}
​
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
​
#prev {
    display:none;
}
​
#start {
    display:none;
    width: 90px;
}--*/

